*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid black;
}
#wrapper{
    background-color: rgb(251, 229, 229);
    color: rgb(18, 16, 16);
    width: 430px;
    padding: 20px;
    text-transform: capitalize;
    border-radius: 5px;
}
#wrapper header{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 3px;
}

#wrapper form{
    display: flex;
    flex-direction: column;
}

form .input-field{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.input-field label{
    font-size: 18px;
    font-weight: 500;
}

.input-field input{
    padding: 2px;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    background-color: aliceblue;
}

form input{
    margin-top: 35px;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
}

form input[type="button"],
form input[type="reset"]{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

form input[type="button"]{
    background-color: rgb(117, 117, 255);
    color: aliceblue;
}

form input[type="reset"]{
    margin-bottom: 20px;
    color: aliceblue;
    background-color: rgb(64, 223, 64);
}

h3{
    color: aqua;
    margin: 0%;
    display: block;
    position: absolute;
    top: 70px;
    left: 650px;
}