.container{
    margin: 0%;
    padding: 10px;
    font-size: x-large;
}
.select{
    margin-top: 0px;
    width: 50%;
    height: 25px;
}
hr{
    width: 80%;
    margin-bottom: 10px;
    margin-top: 15px;
}
#p1{
    margin-bottom: 5px;
    font-size: medium;
}
.h3{
    margin-bottom: 0px;
    text-transform: uppercase;
    /* border: 2px solid black; */
    display: block;
    margin: 0%;
}
/* h3{
    border: 2px solid black;
} */
#registration{
    margin-top: 10px;
    margin-bottom: 10px;
}
#para1{
    margin: 5px;
    margin-bottom: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name{
    margin-bottom: 15px;
    font-size: larger;
    font-family : Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: lowercase;
    font-weight: 500;
    text-decoration-line: underline;
    /* text-decoration-style: double; */
}
.input{
    display: inline-block;
}
.input{
    width: 400px;
}
.label{
    /* margin: 100px 0px 100px; */
    font-size: 20px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.in{
    width: 320px;
    height: 20px;
    padding: 8px;
    margin: 10px 0px 20px;
    font-size: medium;
}
.select-div select{
    display: block;
    height: 40px;
}
#registration{
    margin: 35px 0px 35px;
    /* border: 2px solid black; */
}
.usd1{
    position: relative;
    top: 0px;
    left: 700px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.usd2{
    position: relative;
    top: 0px;
    left: 610px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.usd3{
    position: relative;
    top: 0px;
    left: 464px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.usd4{
    position: relative;
    top: 0px;
    left: 464px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.usd5{
    position: relative;
    top: 0px;
    left: 418px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.chck{
    margin-left: 10px;
}
button{
    display: inline-block;
    margin: 10px 10px 10px;
    background-color: rgb(70, 23, 114);
    color:antiquewhite;
    border-radius: 3px;
    width: 130px;
    height: 50px;
}
button:hover{
    color: rgb(70, 23, 114);
    background-color: antiquewhite;
    border: 1px solid rgb(198, 192, 192);
    border-radius: 3px;
}
#radioDiv{
    display: inline-block;
}
#showtotal{
    font-weight: 600;
}
td{
    width: 50px;
    height: 20px;
}
.tableDiv{
    margin: 50px 20px 0px 30px;
    padding: 0%;
}
.table{
    margin: 10px;
    column-rule-style: solid;
    column-rule-color: rgb(83, 10, 10);
}
#delegate{
    padding: 0px 0px 0px 200px;
}   
.summary{
    margin: 50px 20px 50px 10px;
}
.table2{
    margin: 50px 0px;
}
