body{
    margin: 0;
    font-family: cursive;
}

h1{
    text-align: center;
}

#btn{
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#btn:hover{
    background-color: #333;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-container{
    background-color: orange;
    width: 300px;
    height: 150px;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    border: solid black 2px;
    border-radius: 10px;
}
